.banner-homem-aranha{
    background-image: url(../imagens/imagem\ cotada.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    height: 1060px;
    width: 1920px;
}

.banner-image-title{    
    width: 54vh;
    height: 54vh;
    position: relative;
    left: 250px;
    top: 350px;
}

.home-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-list::after{
    display: block;
    margin-top: 3px;
    content: ' ';
    width: 60px;
    height: 4px;
    background-color: #fc3836;
}    

.header-logo{
    display: flex;
    width: 21vh;
    height: 10vh;
    position: relative;
    top: 24px;
    left: 24px;
}

.header-logo img{
    width: 100%;
}

.header ul{
    list-style: none;
}

.header ul a{
    color: white;
}

.header-nav-list{
    display: flex;
    font-size: 35px;
    gap: 80px;
    margin-left: 300px;
    margin-top: -50px;
}

@media screen and (max-width: 768px){
    .banner-homem-aranha{
        background-image: url(../imagens/spidermanheader_mobile.jpg);
        width: 768px;
        height: 855px;
        
    }
    
    .banner-image-title{
       width: 35vh;
       height: 35vh;
       left: 50px;
       top: 250px;
    }
    
    .header-logo{
        width: 18vh;
        height: 10vh;
        margin: auto;
        
    }

    .header-nav-list{
        margin: 50px auto;
        gap: 60px;
        padding: 0 10rem;
    }
}